<!DOCTYPE html>
<html lang="ko"
 		xmlns:th="http://www.thymeleaf.org" 
 		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 		layout:decorate="~{Layout/default}">
 		
 		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
 		
 		<section layout:fragment="contents">
 		
 			<div class="input-box">
 				<h1 class="text-center mt-5">메모 입력</h1>
 				
 				<div class="text-center mt-2">
					<input type="text" class="form-control mt-3 text-center" placeholder="제목을 입력하세요" id="titleInput">
 				</div>
 				
 				<div class="text-center mt-2">
					<textarea class="form-control mt-2 text-center"rows="10" placeholder="내용을 입력하세요" id="contentsInput"></textarea>
 				</div>
 				
 				
 				<div class="text-center d-flex justify-content-end">
 					<button type="button" class="btn btn-warning my-5 mr-2"><a href="/post/list-view">목록으로</a></button>
 					<button type="button" class="btn btn-warning my-5 mr-2" id="saveBtn"><a href="/post/list-view"></a>저장</button>
 				</div>
 			</div>
 		
 		</section>
 		
 				<script layout:fragment="script">
				$(document).ready(function(){
					$("#saveBtn").on("click",function(){
						let title = $("#titleInput").val();
						let contents = $("#contentsInput").val();
					
						
						if(title == ""){
							alert("제목을 입력하세요");
							return ;
						}
						
						if(contents == ""){
							alert("내용을 입력하세요");
							return ;
						}
						
						
						$.ajax({
							type:"post"
							,url:"/post/create"
							,data:{"title":title,"contents":contents}
							,success:function(response){
								if(response.result=="success"){
									location.href="/post/list-view"
									alert("입력성공!")
								}else{
									alert("입력실패!")
								}
								
							}
							,error:function(){
								alert("내용 작성 에러!")
							}
							
							
						});
						
						
						
					});
					
				});
			
			
			</script>
 		
 		
 		
 </html>