<!DOCTYPE html>
<html lang="ko"
 		xmlns:th="http://www.thymeleaf.org" 
 		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 		layout:decorate="~{Layout/default}">
 		
 				<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
 		
 		<section layout:fragment="contents">
 			<div class="contents-box">
 				<h1 class="text-center">리스트 페이지</h1>
				<table class="table text-center">  
					<thead>
						<tr>
							<th>1.리스트</th>
							<th>2.리스트</th>
							<th>3.리스트</th>
						</tr>
					</thead>
					<tbody>
					
					
					
					
					</tbody>
				</table>
			
 			
 			</div>
 				
 		
 		
 		</section>
 		
 		
 </html>