<!DOCTYPE html>
<html lang="ko"
 		xmlns:th="http://www.thymeleaf.org" 
 		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 		layout:decorate="~{Layout/default}">
 		
 				<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
 		
 		<section layout:fragment="contents">
 			<div class="contents-box">
 				<h1 class="text-center my-5 p-5">Memo List</h1>
				<table class="table text-center">
					<thead>
						<tr>				
							<th>No</th>
							<th>제목</th>
							<th>날짜</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="memo:${list}">
							<td th:text="${memo.id}">3</td>
							<td th:text="${memo.title}">내일 해야할일</td>
							<td>2025-01-15</td>	
						</tr>	
					</tbody>
				</table>
				
				<div class="text-center my-3 p-3 d-flex justify-content-end">
				<button type="button" class="btn btn-warning">
				<a href="/post/create-view">메모작성</a></button>
				</div>
				
 			</div>			
 		</section>
 		
 		
 		
 		
 		
 </html>