<!DOCTYPE html>
<html lang="ko"
 		xmlns:th="http://www.thymeleaf.org" 
 		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 		layout:decorate="~{Layout/default}">
 		
 				<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
 		
 		<section layout:fragment="contents">
 			<div class="contents-box">
 				<h1 class="text-center my-5 p-5">List</h1>
				<table class="table text-center">  
					<thead>
						<tr>
				
							<th>No</th>
							<th>제목</th>
							<th>날짜</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>이번주 할일</td>
							<td>2025-01-08</td>		
						</tr>	
					</tbody>
				</table>
				
				<div class="text-center my-3 p-3 d-flex justify-content-end">
				<button type="button" class="btn btn-warning mt-3 mr-3">
				<a href="/post/create-view">메모작성</a>
				</button>
				</div>
				
 			</div>
				
 			
 					
 		</section>
 		
 		
 </html>