<!DOCTYPE html>
<html lang="ko"
 		xmlns:th="http://www.thymeleaf.org" 
 		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 		layout:decorate="~{Layout/default}">
	
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		
		<section layout:fragments="contents">
			<div id="input-box">
			<h2 class="text-center">회원가입</h2>
			<input type="text" placeholder="아이디를">
			<input type="password" placeholder="비밀번호">
			<input type="password" placeholder="비밀번호확인">
			<input type="text" placeholder="이름">
			<Input type="text" placeholder="전화번호">
			</div>	
		</section>
		
		
</html>