<!DOCTYPE html>
<html lang="ko"
 		xmlns:th="http://www.thymeleaf.org" 
 		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 		layout:decorate="~{Layout/default}">
	
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		
			<section layout:fragment="contents" class="contents d-flex justify-content-center">
			<div class="input-box my-5 p-5 rounded-lg text-center">
				<h1 class="text-center text-black">회원가입</h1>
				<input type="text" class="form-center mt-3" placeholder="아이디" id="idInput">
				<input type="password" class="form-center mt-2"  placeholder="비밀번호" id="passwordInput">
				<input type="password" class="form-center mt-2"  placeholder="비밀번호확인" id="passwordCheck">
				<input type="text" class="form-center mt-2" placeholder="이름" id="nameInput">
				<input type="text" class="form-center mt-2" placeholder="전화번호" id="phoneNumberInput">
				<div class="text-center">
				<button type="button" class="btn btn-dark btn block mt-3 mr-3 text-white" id="joinBtn">회원가입</button>
				<button type="button" class="btn btn-dark btn block mt-3 ml-3 text-white">
				<a href="/user/login-view">로그인</a></button>
				</div>
			</div>
		</section>
		
		
			<script layout:fragment="script">
				$(document).ready(function(){
					$("#joinBtn").on("click",function(){
						let id = $("#idInput").val();
						let password = $("#passwordInput").val();
						let passwordCheck = $("#passwordCheck").val();
						let name = $("#nameInput").val();
						let phoneNumber = $("#phoneNumberInput").val();
						
						if(id == ""){
							alert("아이디를 입력하세요");
							return ;
						};
						if(password == ""){
							alert("비밀번호를 입력하세요");
							return ;
						}
						if(password != passwordCheck){
							alert("비밀번호를 확인하세요");
							return ;
						}
						if(name == ""){
							alert("이름을 입력하세요");
							return ;
						}
						if(phoneNumber == ""){
							alert("전화번호를 입력하세요");
							return ;
						}
						
						
						$.ajax({
							type:"post"
							,url:"/user/join"
							,data:{"loginId":id,"password":password,"name":name,"phoneNumber":phoneNumber}
							,success:function(response){
								if(response.result=="success"){
									location.href="/user/login-view"
									alert("회원가입 성공!")
								}else{
									alert("회원가입 실패!")
								}
								
							}
							,error:function(){
								alert("회원가입 에러!")
							}
							
							
						});
						
						
						
					});
					
				});
			
			
			</script>

</html>