<!DOCTYPE html>
<html lang="ko"
 xmlns:th="http://www.thymeleaf.org" 
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{Layout/default}">
 
 	<section layout:fragment="contents" class="contents d-flex justify-content-center">
 	
			<div class="contents-box my-5 p-5 rounded-lg text-center">
				<h1 class="text-center text-warning">MemoNote</h1>
				<input type="text" class="form-center mt-3"  placeholder="아이디" id="idInput">
				<input type="password" class="form-center mt-2"  placeholder="비밀번호" id="passwordInput">
				
				<div>
				<button type="button" class="btn btn-warning btn block mt-3 mr-3" id="loginBtn">로그인</button>
				<button type="button" class="btn btn-warning btn block mt-3 ml-3">
				<a href= "/user/join-view">회원가입</a></button>
				</div>
				
			</div>
		</section>
		
		<script layout:fragment="script">
			$(document).ready(function(){
				$("#loginBtn").on("click",function(){
					let id = $("#idInput").val();
					let password = $("#passwordInput").val();
			
					
					if(id == ""){
						alert("아이디를 입력하세요")
						return "";
					}
					if(password == ""){
						alert("비밀번호를 입력하세요")
						return "";
					}
					
					$.ajax({
						type:"post"
						,url:"/user/login"
						,data:{"loginId": id, "password":password}
						,success:function(response){
							if(response.result ="success"){
								location.href="/user/list-view"
								alert("로그인 성공!")
							}else{
								alert("아이디와 비밀번호를 확인해주세요")								
							}
						}
						,error:function(){
							alert("로그인 에러!")
						}
						
					});
				});
				
			});
		
		
		
		
		</script>
 
 </html>