@charset "UTF-8";

#wrap{
	width:1200px;
	margin:0 auto
}

header{
	height:100px;
	background-color:rgb(192, 192, 192)
}

.contents{
	height:500px;
}

.contents > .input-box{
	width:400px;
	background-color:rgb(192, 192, 192)
}

.contents > .contents-box{
	width:400px;
	height:300px;
	border-radius:20px;
	border:none;
	background-color:rgb(192, 192, 192)
}




footer{
	height:100px;
	background-color:rgb(192, 192, 192)
}